/* MAIN */
/* (nl = new line) */
body { background-color: #323232; }
p, h2, h3, h4, .two-hs, .threehs, .four-hs { color: #ffffff; }
.center { text-align: center; }


/* HEADERS */
/* (hs = header size) */
.two-hs { font-size: 1.5em; }
.three-hs { font-size: 1.17em; }
.four-hs { font-size: 1em; }


/* TABLES */
table, th, td { border: 2px solid #f5f5f5; padding: 4px; }
table { color: #ffffff; border-collapse: collapse; table-layout: fixed;  width: 50%; }
td { color: #f1f7dd; text-align: center; }
th { color: #dcecaa; text-align: center; }
th.num { width: 5%; }
th.song { width: 75%; }
th.date { width: 20%; }



/* GREEN LINKS, Default */
a:link, a:visited { color: #bfdad2; text-decoration: none; }
a:hover, a:active { color: #a1c9be; text-decoration: none; }


/* RUSTY LINKS */
a:link.rusty, a:visited.rusty { color: #d9bec6; text-decoration: none; }
a:hover.rusty, a:active.rusty { color: #c3abb2; text-decoration: none; }

/* LEMON LINKS */
a:link.lemon, a:visited.lemon { color: #f1f7dd; text-decoration: none; }
a:hover.lemon, a:active.lemon { color: #d8dec6; text-decoration: none; }


/* LADY */
.lady { max-width: 100%; width: auto; height: auto; }
